.app__container {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	background-color: var(--bgSeparator);
}
.start__button__container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(30, 30, 30, 0.65);
	z-index: 10000;
}

.start__button {
	position: absolute;
	top: 5rem;
	left: 1rem;
	width: 12rem;
	height: 3rem;
	font-size: 1.25rem;
	border-radius: 0.5rem;
	font-weight: 600;
	border: none;
	background-color: var(--bgSeparator);
	color: var(--fontWhite);
	cursor: pointer;
}

.started {
	display: none;
}

.start__button:disabled {
	background-color: var(--bgSeparator);
}

.close__button__container {
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 100;
	visibility: hidden;
}

.close__button {
	width: 2rem;
	height: 2rem;
	font-size: 1.5rem;
	cursor: pointer;
}

.hover_des{
    height: 100%;
	font-family: var(--fontFamily1);
	font-size: 1.5vh;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: center;
	color: rgba(255, 255, 255, 1);


}
.hover_des_container{
	position: absolute;
    bottom: 15%;
    width: 50%;
    height: 10%;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.Title_One{
	font-family: var(--fontFamily1);
font-style: normal;
font-weight: 500;
font-size: 1.4vw;
line-height: 4vh;
}
.Title_Two{
    font-family: var(--fontFamily1);
    font-style: normal;
    font-weight: 500;
    font-size: 0.8vw;
}