.rectangle {
  width: 95%;
  height: 60%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  position: fixed;
  top: 40%;
  left: 42%;
  transform: translate(-50%, -50%);
}

.left-section {
  /* flex: 1; */
  height: 85%;
  width: 30%;
  background: var(--bgCarousel);
  opacity: var(--CarouselOpacity);
  box-shadow: -50px 0px 28px -30px #00000066 !important;
  backdrop-filter: blur(2px);

  color: var(--CarouselFontColor);
  font-family: var(--CarouselFontFamily);
  font-weight: var(--CarouselFontWeight);
  text-align: left;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  /* margin-left: 20%; */
}

.right-section {
  /* flex: 1; */
  width: 70%;
  height: 100%;
  position: relative;
  left: -30px;
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: 7%;
  right: 5%;
  font-size: 1.2vw;
  cursor: pointer;
}

.heading {
  position: absolute;
  font-size: var(--CarouselFontSize);
  font-family: var(--CarouselFontFamily);
  font-weight: var(--CarouselFontWeight);
  /* margin: 0; */
  left: 8%;
  top: 3%;
  color: var(--CarouselFontColor);
  padding-right: 8%;
  animation: fadeIn ease 0.2s;
  -webkit-animation: fadeIn ease 0.2s;
}

.divider {
  position: absolute;
  width: 15%;
  height: 0.5%;
  font-size: 0.104vw;
  background-color: var(--bgSeparator);
  border: none;
  left: 8%;
  top: 17%;
}

.content {
  position: absolute;
  left: 8%;
  font-family: var(--CarouselContentFontFamily);
  font-weight: var(--CarouselContentFontWeight);
  font-size: var(--CarouselContentFontSize);
  top: 21%;
  width: 80%;
  animation: fadeIn ease 0.3s;
  -webkit-animation: fadeIn ease 0.3s;
  line-height: var(--CarouselContentLineHeight);
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image {
  max-width: 90%;
  max-height: 90%;
}

.left-image-container {
  position: absolute;
  bottom: 0;
  margin-left: 8%;
  padding-left: 0;
  width: 100%;
  height: 50%;
}

.left-image {
  bottom: 25%;
  position: absolute;
  border: 10px solid var(--fontWhite);
  border-radius: 5px;
	/* width: 30% !important; */
	width: calc(2vw + 4vh) !important;
	height: auto !important;
}

.LeftArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
  margin-left: 20%;
}

.scan-content{
  position: absolute;
	font-size: 1vw;
	width: 80%;
	bottom: 0;
}
.scan-content a{
  /* text-decoration: none; */
  color: var(--fontToolbar);

}

.cross-btn{
  position: absolute;
  top: 10%;
  cursor: pointer;
}