
.CardContainer{
    border: 10px solid black;
    border-radius: 10px;
    
}

.CarouselContainer{
    position: absolute;
    box-shadow: -55px 0px 28px -30px #00000066 !important;
    /* box-shadow: -30px 0px 15px -10px #00000066 !important; */

}
.awssld__content{
    height: 84% !important;
    top: 8% !important;
    }
    .full-screen{
        position: absolute;
        bottom: 20px;
        z-index: 9;
        right: 10px;
    cursor: pointer;
    }
    .full-screen-img{
        position: absolute;
        z-index: 999;
    }
/* .awssld__content > img{
object-fit: contain !important;
} */