.usecase {
    position: absolute;
    width: 30%;
    height: 60%;
    right: 10%;
    top: 15%;
}
.left-container{
    position: fixed;
    width: 100%;
    top: 25%;
    left: 5%;
    max-width: 50%;
}

.header {
    width: 100%;
    height: 15%;
    text-align: left;
    color: var(--fontWhite);
    font-weight: 300;
    font-size: 0.8vw;
    font-family: var(--fontFamily1);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: var(--bgWhite);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2px);


}

.main {
    width: 100%;
    height: 85%;
    text-align: left;
    background: var(--bgDark);
    padding: 3%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    margin-bottom: 5%;
    background: var(--bgWhite);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2px);
}

/* .content {
    margin-bottom: 3%;
    border-radius: 6px;
} */

.content-head {
    font-weight: 700;
    font-size: 1vw;
    font-family: var(--fontFamily1);
    color: var(--fontToolbar);
    margin-bottom: 1%;

}

.content-sub {
    font-weight: 400;
    font-size: 0.8vw;
    font-family: var(--fontFamily1);
    color:var(--fontWhite);
    margin-bottom: 4%;
    
}

.arrowContainer {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    height: 100%;
    flex-grow: 1;
    gap: 2%
}

.App {
    text-align: center;
    color: var(--fontWhite);
    padding: 10px;
    background: var(--bgWhite);
    /* z-index: 1; */
    position: absolute;
    width:  -webkit-fill-available;
    height: 100%;
  
  }
  
  .box-wrap {
    /* height: 60%; */
      --angle: 0deg;
      border: 3px solid;
    border-image: linear-gradient(var(--angle),rgba(15, 44, 104, 1),rgba(29, 63, 133, 0.846),
    rgba(183, 206, 255, 0.6),
    rgba(20, 46, 100, 0.5805),
    rgba(0, 0, 0, 0)) 1;
      transform: perspective(75em) rotateY(-1deg);
      animation: 4s rotate linear infinite;
    padding: 31px 32px 53px 32px;
    /* max-width: 500px; */
    width: 30%;
    background: var(--bgUcStory);
    opacity: var(--UcStoryOpacity);
    text-align: left;
    box-shadow: -30px 20px 28px -10px #00000066 !important;
    position: fixed;
    top: 10%;
    right: 10%;
  }
  .Tour-box-wrap {
      --angle: 0deg;
      border: 3px solid;
    border-image: linear-gradient(var(--angle),rgba(15, 44, 104, 1),rgba(29, 63, 133, 0.846),
    rgba(183, 206, 255, 0.6),
    rgba(20, 46, 100, 0.5805),
    rgba(0, 0, 0, 0)) 1;
      transform: perspective(75em) rotateY(-1deg);
      animation: 4s rotate linear infinite;
    padding: 15px;
    /* max-width: 500px; */
    width: 45%;
    background: var(--bgMedium);
    opacity: 0.9;
    text-align: left;
    font-family: var(--fontFamily1);
    box-shadow: 10px 10px 54px -6px rgba(0,0,0,1);
    position: fixed;
    bottom: 13%;
  }
  .Welcome-card {
    --angle: 0deg;
    /* border: 3px solid; */
  /* border-image: linear-gradient(var(--angle),rgba(15, 44, 104, 1),rgba(29, 63, 133, 0.846),
  rgba(183, 206, 255, 0.6),
  rgba(20, 46, 100, 0.5805),
  rgba(0, 0, 0, 0)) 1;
    transform: perspective(75em) rotateY(-1deg);
    animation: 4s rotate linear infinite; */
  padding: 15px;
  /* max-width: 500px; */
  width: 40%;
  background: var(--bgWhite);
  text-align: left;
  font-family: var(--fontFamily1);
  box-shadow: 10px 10px 54px -6px rgba(0,0,0,1);
  position: absolute;
  top: 40%;
  left:30%;
  animation: fadeIn ease 0.2s;
  -webkit-animation: fadeIn ease
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

  .Welcome-card-container {
    --angle: 0deg;
  /* padding: 0% 1.5% 2% 1.5%; */
  /* padding: 32px 15px 24px 24px; */
  width: 25%;
  /* height: 19%; */
  /* width: 366px; */
  background: var(--bgOnboardingCard);
  text-align: left;
  font-family: var(--fontFamily1);
  box-shadow: 10px 10px 54px -6px rgba(0,0,0,1);
  position: absolute;
  top: 25%;
  left:38%;
  border-radius: 12px;
  animation: fadeIn ease 0.2s;
  -webkit-animation: fadeIn ease
}
/* .Welcome-card-container::before {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 3%;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid rgb(255, 255, 255);
} */
.welcome-next-btn{
  background: var(--bgOnboardingCardHighlightedButton);
  padding: 3%;
  border-radius: 6px;
  /* width: 20%; */
  /* margin-right: 10%; */
  /* margin-left: 10%; */
  font-size: 1vw;
}
.welcome-btn{
  font-size: 1vw;
}
.welcome-page{
  width: 50%;
  gap: 3%;
  display: flex;
  align-items: center;
}
.welcome-dot-circle-fill{
  fill: var(--bagWelcomeDotCircleFill);
  stroke: var(--bagWelcomeDotCircleStroke);
}
.welcome-dot-circle{
  fill: var(--bagWelcomeDotCircle);
  stroke: var(--bagWelcomeDotCircleStroke);
}
.wel-title{
font-size: var(--OnboardingCardFontSize);
font-family: var(--OnboardingCardFontFamily);
color: var(--OnboardingCardFontColor);
font-weight: var(--OnboardingCardFontWeight);
animation: fadeIn ease 0.2s;
margin-bottom: 3%;
}
.wel-description{
  font-size: var(--OnboardingCardContentFontSize);
  font-family: var(--OnboardingCardContentFontFamily);
  color: var(--OnboardingCardContentFontColor);
  font-weight: var(--OnboardingCardContentFontWeight);
  line-height: var(--OnboardingCardContentLineHeight);
  animation: fadeIn ease 0.3s;
  margin: 0px 3%;

}
  @keyframes rotate {
      to {
          --angle: 360deg;
      }
  }
  
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  
  
  .box-buttons-group {
    display: flex;
    justify-content: end;
    margin-right: 1px;
    font-size: 0.833vw;
    gap: 6px;
    align-items: center;
  }
  
  .leftSvg {
    width: 8%;
    height: 8%;
    fill: var(--bgUcStoryNextPrevButton);
  }
  .rightCloseSvg {
    width: 8%;
    height: 8%;
    fill: var(--bgUcStoryNextPrevButton);
  }
  .rightSvg{
    fill: var(--bgUcStoryNextPrevButton);
  }
  
  .box-title {
    color: var(--UcStoryFontColor);
    font-size: var(--UcStoryFontSize);
    font-family: var(--UcStoryFontFamily);
    font-weight: var(--UcStoryFontWeight);
    margin-bottom: 38px;
    animation: fadeIn ease 0.2s;
    -webkit-animation: fadeIn ease
  }
  .Welcome-Tour-box-title {
    color: var(--OnboardingCardFontColor);
    font-size: 1.4vw;
    font-weight: 500;
    padding-top: 5%;
    margin: 0px 7%;
    text-align: center;
    margin-bottom: 15px;
    animation: fadeIn ease 0.2s;
    -webkit-animation: fadeIn ease
  }
  .Tour-box-title {
    color: var(--fontWhite);
    font-size: 1.4vw;
    font-weight: 500;
    margin-bottom: 15px;
    animation: fadeIn ease 0.2s;
    -webkit-animation: fadeIn ease
  }


  .value-box-title {
    color: var(--UcStoryFontColor);
    font-size: var(--UcStoryBlocksFontSize);
    font-family: var(--UcStoryBlocksFontFamily);
    font-weight: var(--UcStoryBlocksFontWeight);
    margin-top: 3%;
    margin-bottom: 2%;
    animation: fadeIn ease 0.2s;
  }
  
  .value-line{
    background: var(--bgMedium);
    margin-top: 5%;
    border: 1px solid rgba(48, 61, 87, 1);
  }
  
  .box-content {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    /* max-height: calc(100vh - 220px); */
    /* overflow-y: scroll; */
  }
  
  .Tour-box-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: calc(100vh - 220px);
    animation: fadeIn ease 0.3s;
    -webkit-animation: fadeIn ease
    /* overflow-y: scroll; */
  }
  
  .Tour-box-content>div {
    padding: 15px;
    font-size: var(--UcStoryBlocksContentFontSize);
    border-radius: 6px;
    background: var(--bgDark);
  }
  .box-content>div {
    padding: 5%;
    font-size: var(--UcStoryBlocksContentFontSize);
    border-radius: 6px;
    background: var(--bgUcStoryBlocks);
  }
  
  .box-content-vp>div {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: var(--UcStoryBlocksContentFontSize);
    border-radius: 6px;
    background: var(--bgUcStoryBlocks);
  }
  
  .content-title {
    font-family: var(--UcStoryBlocksFontFamily);
    color: var(--UcStoryFontColor);
    font-size: var(--UcStoryBlocksFontSize);
    font-weight: var(--UcStoryBlocksFontWeight);
    animation: fadeIn ease 0.2s;
    -webkit-animation: fadeIn ease
  }
  
  .content-description {
    margin-top: 1vh;
    color: var(--UcStoryFontColor);
    font-size: var(--UcStoryBlocksContentFontSize);
    font-family: var(--UcStoryBlocksContentFontFamily);
    font-weight: var(--UcStoryBlocksContentFontWeight);
    animation: fadeIn ease 0.3s;
    -webkit-animation: fadeIn ease;
    line-height: var(--UcStoryBlocksContentLineHeight);
  }
  
  .content-description-vp {
    margin-top: 1vh;
    color: var(--UcStoryFontColor);
    font-size: var(--UcStoryBlocksContentFontSize);
    font-family: var(--UcStoryBlocksContentFontFamily);
    font-weight: var(--UcStoryBlocksContentFontWeight);
    animation: fadeIn ease 0.3s;
    -webkit-animation: fadeIn ease;
    line-height: var(--UcStoryBlocksContentLineHeight);
  }
  
  .box-content::-webkit-scrollbar {
    /* display: none; */
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .box-content {
    /* -ms-overflow-style: none; */
    /* IE and Edge */
    /* scrollbar-width: none; */
    /* Firefox */
  }
  
  
 .CTA-Container{
  position: fixed;
  width: 70%;
  top: 15%;
 } 
  
 .CTA-cross-btn{
  position: absolute;
  top: 10%;
  cursor: pointer;
  right: 0;
 }
  
  .CTA-Card-Container{
    width: 25%;
    border-radius: 12px;
    border: 2px;
    background: var(--bgMedium);
    opacity: 0.9;
    /* background: linear-gradient(0deg, rgba(3, 10, 27, 0.85), rgba(3, 10, 27, 0.85)),
    linear-gradient(40.07deg, #0F2C68 -3.97%, rgba(29, 63, 133, 0.84603) 5.79%, rgba(183, 206, 255, 0.6) 10.01%, rgba(20, 46, 100, 0.580451) 22.62%, rgba(0, 0, 0, 0) 59.42%);
    ; */
    padding: 2% 1.5% 2% 1.5%;
    position: fixed;
    left: 36%;
    top: 18%;
}


.CTA-ButtonList{
width: 96%;
height: 68px;
border-radius: 6px;
background: var(--bgDark);
font-family: var(--fontFamily1);
font-size: 0.8999999999999999vw;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: var(--fontWhite);
margin: 6px;
padding-left: 24px;
border-radius: 6px;
border: 0px;
}

.CTA-ButtonContainer{
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.cat-app{
  width: 100%;
  height: 100%;
}
.CTA-Title{
  color: var(--fontWhite);
  font-size: 1.667vw;
  font-weight: 500;
  display: flex;
  padding-left: 2%;
  font-family: var(--fontFamily1);
}

.blink {
  width: 8%;
  height: 8%;
  animation: crescendo 1s alternate infinite ease-in;
}
/* .highlight {
  width: 8%;
  height: 8%;
  animation: highlighter 1s alternate infinite ease-in;
} */

@keyframes crescendo {
  0%   {transform: scale(1);}
  100% {transform: scale(1.2);}
}
/* @keyframes highlighter {
  0%   {transform: font-size(1);}
  100% {transform: font-size(1.2);}
} */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color:  rgba(3, 10, 27);;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--bgWhite); 
}