:root {
  --fontWhite: #ffffff; 
  --fontToolbar: #162221; 
  --fontLight: #ffffff; 
  --fontBlack:#000000; 
  
  --bgWhite: #ffffff; 
  --bgSeparator: #162221; 
  --bgShadow: #000000; 
  --bgMedium: #7E6AD2;
  --bgDark:#FF6F61;
  --bgLight: #4A148C;

  --fontFamily1:'Montserrat';
}