:root {
  
  --fontWhite: #ffffff; 
  --fontToolbar: ##cbc2e7; 
  --fontLight: #cbc2e7;
  --fontBlack: #000000; 
  
  --bgWhite: #ffffff; 
  --bgGrey: #D9D9D9; 
  --bgSeparator:  #cbc2e7; 
  --bgSeparator1: #ffffff; 
  --bgShadow: #000000; 
  --bgMedium: #7E6AD2;
  --bgLight: #cbc2e7;
  --bgDark: #5B459A;

--fontFamily1:'Arial';
--fontFamilyRobotoMedium:var(--fontFamily1);
--fontFamilyRobotoBold:var(--fontFamily1);

--fontWeightRegular:200;
--fontWeightMedium:300;
--fontWeightBold:500;
--contentLineHeight: 1.3;

  --opacityOpaque:1;
  --opacityHigh:.95;
  --opacityLow:0.9;
  --opacityVeryLow:0.4;

  --bgWorldBackground:var(--bgSeparator);
  --bgWorldBackground1:var(--bgSeparator1);

  --bagWelcomeDotCircleFill:var(--bgDark);
  --bagWelcomeDotCircle:var(--bgWhite);
  --bagWelcomeDotCircleStroke:var(--bgSeparator);
  --bgNextPreButton:var(--bgMedium);
  --bgNextPreButtonHover:var(--bgDark);

  --bgBottomToolbar: var(--bgDark);
  --BottomToolbarOpacity: var(--opacityHigh);
  --BottomToolbarFontFamily: var(--fontFamilyRobotoMedium);
  --BottomToolbarFontWeight: var(--fontWeightMedium);
  --BottomToolbarFontSize: calc(0.475vw + 0.844svh);
  --BottomToolbarFontColor: var(--fontWhite);
  --bgBottomToolbarHighlightedButton: var(--bgMedium);
  --BottomToolbarSeparator: var(--bgSeparator);

  --bgTopNavbar: var(--bgDark);
  --TopNavbarOpacity: 1;

  --bgCards: var(--bgDark);
  --CardsOpacity: var(--opacityLow);
  --CardsFontFamily: var(--fontFamilyRobotoMedium);
  --CardsFontWeight: var(--fontWeightMedium);
  --CardsFontSize: calc(0.65vw + 1.15svh);
  --CardsFontColor: var(--fontWhite);
  
  --CardsContentFontFamily: var(--fontFamily1);
  --CardsContentFontWeight: var(--fontWeightRegular);
  --CardsContentFontSize: calc(0.405vw + 0.72svh);
  --CardsContentLineHeight: var(--contentLineHeight);
  
  --bgAchievedThroughButton: var(--bgMedium);
  --AchievedThroughButtonOpacity: var(--opacityHigh);
  --AchievedThroughButtonFontFamily: var(--fontFamily1);
  --AchievedThroughButtonFontWeight: var(--fontWeightBold);
  --AchievedThroughButtonFontSize: calc(0.4vw + 0.71svh);
  --AchievedThroughButtonFontColor: var(--fontWhite);
  
  --bgCarousel: var(--bgDark);
  --CarouselOpacity: var(--opacityLow);
  --CarouselFontFamily: var(--fontFamilyRobotoMedium);
  --CarouselFontWeight: var(--fontWeightMedium);
  --CarouselFontSize: calc(0.677vw + 1.2svh);
  --CarouselFontColor: var(--fontWhite);

  --CarouselContentFontFamily: var(--fontFamily1);
  --CarouselContentFontWeight: var(--fontWeightRegular);
  --CarouselContentFontSize: calc(0.469vw + 0.834svh);
  --CarouselContentLineHeight: var(--contentLineHeight);

  --bgHamburgerMenuList: var(--bgDark);
  --HamburgerMenuListOpacity: var(--opacityLow);
  --HamburgerMenuListFontFamily: var(--fontFamily1);
  --HamburgerMenuListFontWeight: var(--fontWeightRegular);
  --HamburgerMenuListFontSize: calc(0.4165vw + 0.74svh);
  --HamburgerMenuListFontColor: var(--fontWhite);
  
  --bgHamburgerMenuListHover: var(--bgDark);
  
  --bgHotspotHover: var(--bgMedium);
  --HotspotHoverOpacity: var(--opacityLow);
  --HotspotHoverFontFamily: var(--fontFamilyRobotoMedium);
  --HotspotHoverFontWeight: var(--fontWeightMedium);
  --HotspotHoverFontSize: calc(0.4vw + 0.71svh);
  --HotspotHoverLabelFontSize: calc(0.521vw + 0.926svh);
  --HotspotHoverFontColor: var(--fontWhite);
  
  --bgOnboardingCard: var(--bgWhite);
  --bgOnboardingCardImg: var(--bgGrey);
  --OnboardingCardOpacity: var(--opacityOpaque);
  --OnboardingCardFontFamily: var(--fontFamilyRobotoMedium);
  --OnboardingCardFontWeight: var(--fontWeightMedium);
  --OnboardingCardFontSize: calc(0.469vw + 0.834svh);
  --OnboardingCardFontColor: var(--bgMedium);

  --OnboardingCardContentFontFamily: var(--fontFamily1);
  --OnboardingCardContentFontWeight: var(--fontWeightRegular);
  --OnboardingCardContentFontSize: calc(0.3645vw + 0.648svh);
  --OnboardingCardContentFontColor: var(--bgMedium);
  --OnboardingCardNumberingFontColor: var(--bgLight);
  --bgOnboardingCardHighlightedButton: var(--bgDark);
  --OnboardingCardContentLineHeight: var(--contentLineHeight);

  --bgUcStory: var(--bgDark);
  --bgUcStoryNextPrevButton: var(--bgDark);
  --UcStoryOpacity: var(--opacityHigh);
  --UcStoryFontFamily: var(--fontFamilyRobotoMedium);
  --UcStoryFontWeight: var(--fontWeightMedium);
  --UcStoryFontSize: calc(0.8335vw + 1.481svh);
  --UcStoryFontColor: var(--fontWhite);

  --bgUcStoryBlocks: var(--bgMedium);
  --UcStoryBlocksFontFamily: var(--fontFamilyRobotoBold);
  --UcStoryBlocksFontWeight: var(--fontWeightRegular);
  --UcStoryBlocksFontSize: calc(0.55vw + 0.98svh);

  --UcStoryBlocksContentFontFamily: var(--fontFamily1);
  --UcStoryBlocksContentFontWeight: var(--fontWeightRegular);
  --UcStoryBlocksContentFontSize: calc(0.4165vw + 0.74svh);
  --UcStoryBlocksContentLineHeight: var(--contentLineHeight);
  --UcStoryBlocksContentFontColor: var(--fontWhite);

  --bgSpinner: var(--bgDark);

}